<ul class="nav nav-tabs">
    {% for name,entity in entities %}
        <li class="dropdown{% if entity['active'] is defined and entity['active'] %} active{% endif %}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="{{ path(entity['basepath']) }}">
                {{ name }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path(entity['basepath']) }}">{% trans %}List{% endtrans %}</a>
                </li>
                <li>
                    <a href="{{ path(entity['basepath'] ~ "_new") }}">{% trans %}New{% endtrans %}</a>
                </li>
            </ul>
        </li>
    {% endfor %}
</ul>
