<form action="{{ path('admin_recur_add', { 'calendar_entity_id': entity.id}) }}" method="post">
    {{ form_widget(recur_choice_form) }}
    <p>
        <button type="submit" class="btn btn-primary">{% trans %}Select{% endtrans %}</button>
    </p>
</form>
